body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: white;
    margin: auto;
    text-align: center;
}

#create-div {
    background-color: #f44336;
    margin: auto;
    width: 75%;
}

#create-div > button {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

#create-div > button:hover {
    background-color: #bbb;
}

#title-input {
    width: 75%;
    padding: 10px;
    margin: 15px;
    margin-right: 0px;
    border: 0;
    font-size: 16px;
    outline: none;
}

#todo-list {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 0;
}
#todo-list > li {
    margin: auto;
    width: 75%;
    background: #eee;
}
#todo-list > li:nth-child(odd){
    background: #f9f9f9;
}
#todo-list > li:hover {
    background: #ddd;
}
.todo-done {
    background: #888;
    color: #fff;
}
#todo-title-done {
    text-decoration: line-through;
}

#empty-list-info {
    text-align: center;
}

.close-btn, .up-btn, .down-btn, .no-btn {
    width: 3%;
    right: 0;
    top: 0;
    padding: 12px 12px 12px 12px;
    font-size: 22px;
    text-align: center;
  }

.close-btn:hover {
    background: #f44336;
    color: white;
}

.up-btn:hover, .down-btn:hover  {
    background: #6495ED;
    color: white;
}

#todo-div {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
}

#text-div {
    width: 91%;
}

#delete-btn {
    margin-left: 12.5%;
    margin-top: 0;
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 75%;
    transition: 0.3s;
}

#delete-btn:hover {
    background-color: #bbb;
}
